 <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section tp--features tp--features-2 text-center">

      <div class="page-header text-center tp--title-overlay">
        <h2 data-title="About"><span>What We Do</span></h2>
      </div>

      <div class="container">

        <div class="row">

          <div class="col-sm-4 tp--feature">
            <div class="tp--feature-wrapper tp--hover-1">
              <div class="tp--icon-wrapper">
                <i class="tp--icon-gradient icon-screen-desktop icon-large"></i>
              </div>
              <h3>Web & App Development</h3>
              <p>Web design (desktop and responsive), web applications, and online user interface design for CRM's, admin systems, web portals, and online dashboards.</p>
            </div>
          </div>

          <div class="col-sm-4 tp--feature">
            <div class="tp--feature-wrapper tp--hover-1">
              <div class="tp--icon-wrapper">
               <i class="tp--icon-gradient icon-credit-card icon-large"></i>
              </div>
              <h3>E-commerce Development</h3>
              <p>Lead generation, mobile marketing, On-line advertising, media placements, online video, social media, PPC and traditional advertising.</p>
            </div>
          </div>

          <div class="col-sm-4 tp--feature">
            <div class="tp--feature-wrapper tp--hover-1">
              <div class="tp--icon-wrapper">
                <i class="tp--icon-gradient icon-screen-smartphone icon-large"></i>
              </div>
              <h3>Mobile App Development</h3>
              <p>Mobile app design and development (iOS/Android), mobile UI design, responsive and mobile web design, and mobile web application development.</p>
            </div>
          </div>

        </div><!-- /.row -->
<div class="row">

          <div class="col-sm-4 tp--feature">
            <div class="tp--feature-wrapper tp--hover-1">
              <div class="tp--icon-wrapper">
                <i class="tp--icon-gradient icon-call-in icon-large"></i>
              </div>
              <h3>Tech Support</h3>
              <p>Online threats, viruses, hackers! Isn’t your head spinning already? iYogi will take care of optimizing your security infrastructure. </p>
            </div>
          </div>

          <div class="col-sm-4 tp--feature">
            <div class="tp--feature-wrapper tp--hover-1">
              <div class="tp--icon-wrapper">
               <i class="tp--icon-gradient icon-chart icon-large"></i>
              </div>
              <h3>SEO & MARKETING</h3>
              <p>Lead generation, mobile marketing, On-line advertising, media placements, online video, social media, PPC and traditional advertising.</p>
            </div>
          </div>

          <div class="col-sm-4 tp--feature">
            <div class="tp--feature-wrapper tp--hover-1">
              <div class="tp--icon-wrapper">
                <i class="tp--icon-gradient icon-bubbles icon-large"></i>
              </div>
              <h3>Media & Branding</h3>
              <p>Integrated marketing campaigns, digital marketing, advertising and public relations solutions. Our process allows us to identify what your goals are and the best way to reach them.</p>
            </div>
          </div>

        </div><!-- /.row -->

      </div>

    </section>
