<!-- Footer -->
    <footer id="footer" class="tp--footer tp--footer-1 text-xs-center">

      <div class="container">

        <div class="row m-bottom-xs-50">

          <div class="col-sm-3">
            <div class="footer-text"><a href="about">
            <div class="logo-footer"><img src="assets/img/logo.png" class="logo-main" alt="Roweium"></div>
            <p>Roweium Design Agency is a full-service technology company that specialises e-commerce development and the integration of innovative technologies.</p>
            </a></div>
          </div>

          <div class="col-sm-2 col-sm-offset-1">

            <h3><i class="fa fa-globe"></i> What We Do</h3>

            <ul class="list-unstyled">

              <li><a href="#">Products</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Consultations</a></li>           
            </ul>

          </div>

          <div class="col-sm-2">
            <h3><i class="fa fa-download"></i> Downloads</h3>
            <ul class="list-unstyled">
              <li><a href="#">Corporate Brochure</a></li>
              <li><a href="#">Mobile Solutions</a></li>
              <li><a href="#">Security & Scalability</a></li>             
           </ul>
          </div>

          <div class="col-sm-3 col-sm-offset-1">
            <h3><i class="fa fa-globe"></i> Where to find us</h3>
            <div class="row">
            <div class="col-sm-5">
             <p><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; USA</a></p>
             <p><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Canada</a></p>
             <p><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Mexico</a></p>
           </div>
            <div class="col-sm-7">
             <p><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; India</a></p>
             <p><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Europe</a></p>
             <p><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Argentina</a></p>
            </div>
</div>
<div class="clearfix" style="height:40px;"></div>

        </div>
  </div>



      </div>

 <div class="tp--footer--copyright">
<div class="container">
 <div class="row m-top-xs-20">
          <div class="col-sm-4">
          <p class="muted m-top-sm-10"> Copyright &copy;{{ site.time | date: "%Y" }} Roweium Agency- All Rights Reserved.</p>
          </div>
<div class="col-sm-4">
    <p class="tp--social text-center">
	 {% if site.facebook_username %}
            <a class="icon" href="//facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
			            {% endif %}
                        {% if site.twitter_username %}
                             <a class="icon" href="//twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                        {% endif %}
                        {% if site.github_username %}
                           <a class="icon" href="//github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                        {% endif %}
                        {% if site.linkedin_url %}
							<a class="icon" href="//linkedin.com/company/{{ site.linkedin_url }}" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                        {% endif %}
                </p>
</div>
<div class="col-sm-4">
<p class="m-top-sm-10 pull-right">
<a class="legal--links--right" href="http://erp.roweium.com/jobs" target="_blank">Jobs&emsp;<span class="label label-primary">We're hiring!</span></a>
<a class="legal--links--right" href="http://blog.roweium.com/" target="_blank">Blog</a>
<a class="legal--links" href="privacy-policy" target="_blank">Privacy Policy</a>
</p>
</div>
</div>
        </div>
</div>

    </footer>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

