
 <!-- Hero Section
    ================================================== -->
    <section id="intro" class="tp--intro tp--intro-dark tp--slider-single tp--owl-carousel-single owl-carousel owl-theme tp--intro-height-100" data-carousel-options='{ "items": "1", "nav": true, "mouseDrag": false, "touchDrag": false, "responsive": { "0": { "items":"1" } } }'>

        <div class="item tp--intro-content-center text-sm-center tp--with-image-light" style="background: url('assets/images/bg-intro-3.jpg');">

          <div class="container">

            <div class="row tp--col-sm-vertical-align tp--col-xs-vertical-align tp--vertical-align-intro">

              <div class="col-sm-12">
                <div>
                  <h1>We Do Development Right</h1>
                  <p>From start to finish , we develop innovative ideas and provide beautiful designs to grow your business.</p>
                  <a class="btn btn-lg btn-primary tp--scroll" href="#about">GET IN TOUCH</a>
                </div>
              </div>

            </div>

          </div>

        </div>

        
        <div class="item tp--intro-content-center text-sm-center tp--with-image" style="background: url('assets/images/bg-intro-4.jpg');">

          <div class="container">

            <div class="row tp--col-sm-vertical-align tp--col-xs-vertical-align tp--vertical-align-intro">

              <div class="col-sm-12">
                <div>
                  <h1>We Deliever Innovative Solutions</h1>
                  <p>From start to finish , we develop innovative ideas and provide beautiful designs to grow your business.</p>
                  <a class="btn btn-lg btn-primary tp--scroll" href="#" role="button">GET IN TOUCH</a>
                </div>
              </div>

            </div>

          </div>

        </div>

    </section>
