<!-- Portfolio
    ================================================== -->
    <section id="projects" class="tp--section tp--section-light tp--portfolio tp--portfolio-2 tp--portfolio-hover-2">

      <div class="page-header text-center tp--title-overlay">
        <h2 data-title="Portfolio"><span>Our Work</span></h2>
      </div>

      <nav id="filters" class="tp--portfolio-filters text-center">
        <ul class="tp--menu-list clearfix">
          <li class="tp--menu-item tp--menu-item--current">
            <button data-filter-value="*" class="tp--menu-link">Show All</button>
          </li>
          <li class="tp--menu-item">
            <button data-filter-value=".websites" class="tp--menu-link">Websites</button>
          </li>
          <li class="tp--menu-item">
            <button data-filter-value=".icons" class="tp--menu-link">Logos</button>
          </li>
          <li class="tp--menu-item">
            <button data-filter-value=".print" class="tp--menu-link">Media</button>
          </li>
          <li class="tp--menu-item">
            <button data-filter-value=".mobile" class="tp--menu-link">Mobile</button>
          </li>
          <li class="tp--menu-line"></li>
        </ul>
      </nav>

      <div id="portfolio" class="tp--portfolio-grid" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".tp--portfolio-item" }'>

        <div class="col-sm-6 col-md-4 tp--portfolio-item websites">

          <img src="assets/images/thumbs/volunteerinn.jpg" alt="https://volunteerinn.org/">
          <div class="caption">
            <div class="caption-text">
              <h1>Volunteer Inn</h1>
              <p>
                <a href="assets/images/thumbs/volunteerinn.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="https://volunteerinn.org/" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item websites">

          <img src="assets/images/thumbs/modernspanish.jpg" alt="http://modernspanish.com/">
          <div class="caption">
            <div class="caption-text">
              <h1>Modern Spanish</h1>
              <p>
                <a href="assets/images/thumbs/modernspanish.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="http://modernspanish.com/" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item mobile">

          <img src="assets/images/thumbs/everpay.jpg" alt="http://everpayinc.com/www/">
          <div class="caption">
            <div class="caption-text">
              <h1>Ever Pay</h1>
              <p>
                <a href="assets/images/thumbs/everpay.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="http://everpayinc.com/www/" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item mobile">

          <img src="assets/images/thumbs/thumb4.jpg" alt="">
          <div class="caption">
            <div class="caption-text">
              <h1>Project D</h1>
              <p>
                <a href="assets/images/thumbs/thumb1.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="#" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item mobile">

          <img src="assets/images/thumbs/thumb5.jpg" alt="">
          <div class="caption">
            <div class="caption-text">
              <h1>Project E</h1>
              <p>
                <a href="assets/images/thumbs/thumb1.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="#" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item icons">

          <img src="assets/images/thumbs/thumb6.jpg" alt="">
          <div class="caption">
            <div class="caption-text">
              <h1>Project F</h1>
              <p>
                <a href="assets/images/thumbs/thumb1.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="#" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item print">

          <img src="assets/images/thumbs/thumb7.jpg" alt="">
          <div class="caption">
            <div class="caption-text">
              <h1>Project G</h1>
              <p>
                <a href="assets/images/thumbs/thumb1.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="#" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item print">

          <img src="assets/images/thumbs/thumb8.jpg" alt="">
          <div class="caption">
            <div class="caption-text">
              <h1>Project H</h1>
              <p>
                <a href="assets/images/thumbs/thumb1.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="#" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-md-4 tp--portfolio-item websites">

          <img src="assets/images/thumbs/thumb9.jpg" alt="">
          <div class="caption">
            <div class="caption-text">
              <h1>Project I</h1>
              <p>
                <a href="assets/images/thumbs/thumb1.jpg" class="preview popup-gallery"><i class="icon-plus"></i> Preview</a>
                <a href="#" class="link"><i class="icon-link"></i> Website</a>
              </p>
            </div>
          </div>

        </div>

      </div>

    </section>

