<!DOCTYPE html>
<html lang="en-US" class=" ">

  {% include head.html %}

  <body id="page-top">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Page Preloader (only used on index pages) -->

    <div class="tp--preloader">
       <div class="tp--spinner loader">
        <div class="loader-inner ball-beat">
          <div></div><div></div><div></div>
        </div>
       </div>
    </div>



    {% include navbar.html %}

    {% include header.html %}
    
    {% include about.html %}

    {% include portfolio.html %}
    
    {% include team.html %}
    
    {% include pricing.html %}
    
    {% include contact.html %}

    {% include footer.html %}

    {% include modals.html %}

    {% include javascript.html %}

  </body>

</html>
